<% if signed_in? %>
  <div class="row">
    <%= render "shared/user_aside" %>
    <div class="span8">
      <h3>Inicio</h3>
      <section>
          <%= render 'shared/feed' %>
      </section>
    </div>
  </div>
<% end %>
