<% provide(:title, 'About Us') %>
<h1>Acerca del Proyecto Liranova</h1>
<p>
	Liranova busca convertirse en una plataforma sobre la literatura para que escritores compartan sus obras con licencias libres y el público pueda leerlas.
</p>