<% provide(:title, 'Todas las Publicaciones') %>
<h1>Todas las Publicaciones (<%= Publication.where("status" => false, "user_id" => current_user).count %>)</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @publications %>
</ul>

<%= will_paginate %>
