<% if @feed_items.any? %>
  <%= will_paginate @feed_items %>
  <ol class="microposts">
    <%= render partial: 'shared/feed_item', collection: @feed_items %>
  </ol>
  <div style="float: left; clear: both;">
    <%= will_paginate @feed_items %>
  </div>
  <div style="width: 100%; height: 10px; float: left; clear: both;">
  </div>
<% end %>
