<% if signed_in? %>
  <div class="row">
    <%= render "shared/user_aside" %>
    <div class="span8">
      <h3>Biblioteca</h3>
      <div class="span2 btn">
      	<i class="icon-th"></i>
      	<%= link_to "Ver todas las publicaciones", publications_path %><br>
  	  </div>
  	  <div class="span2 btn">
  	  	<i class="icon-user"></i>
  	  	<%= link_to "Ver publicaciones de suscripciones", feed_path %>
  	  </div>
  	  <div class="span2 btn">
  	  	<i class="icon-asterisk"></i>
  	    <%= link_to "Ver una publicación al azar", random_path %><br>
  	  </div>
    </div>
  </div>
<% end %>
