<footer class="footer">
  <small>
    <a href="https://docs.google.com/document/d/11HurJgiOcYVgmZZ7VLRWLfASTXvDK3OQ8a1icehwbWk/edit?usp=sharing">Proyecto Liranova</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca del Proyecto",   about_path %></li>
      <li><%= link_to "Contacto", contact_path %></li>
      <li><a href="https://docs.google.com/document/d/11HurJgiOcYVgmZZ7VLRWLfASTXvDK3OQ8a1icehwbWk/edit?usp=sharing">Novedades</a></li>
    </ul>
  </nav>
</footer>
