<% if signed_in? %>
  <div class="row">
    <%= render "shared/user_aside" %>
    <div class="span8">
      <h3>Escritorio</h3>
      <div class="span3 btn">
        <i class="icon-edit"></i>
        <%= link_to "Publicar nuevo", new_path %>
      </div>
      <div class="span3 btn">
        <i class="icon-th-list"></i>
        <%= link_to "Mostrar borradores", show_drafts_path %>
      </div>
    </div>
  </div>
<% end %>
