<% if signed_in? %>
  <div class="row">
    <%= render "shared/user_aside" %>
    <div class="span8">
      <h3>Escritorio</h3>
      <section>
        <%= link_to "Publicar nuevo", new_path %>
      </section>
      <section>
        <%= link_to "Mostrar borradores", show_drafts_path %>
      </section>
    </div>
  </div>
<% end %>
